
.banger,th,h1,h2,h3,h4 {font-family: 'Bangers', sans-serif;}
/* tr td:nth-child(3), maybe use classes next time */
th {font-size: 12pt}
h1 {font-size:64pt;}
table {width:100%;}
img {width: 36px}
#logo {position: relative;right:0px;background: #FFF}
.copy,.copyLike {cursor:pointer;-webkit-transition: color 0.5s; /* Safari prior 6.1 */
    transition: color 0.5s;}
#refresh {cursor: pointer;}

.teamshell-primary-fg {color:#01a09e !important;}
.teamshell-primary-bg {background-color:#01a09e !important;}
.teamshell-primary-bc {border-color:#01a09e !important;}
.teamshell-primary-blc {border-left-color:#01a09e !important;}
.teamshell-secondary-fg {color:#f88501 !important;}
.teamshell-secondary-bg {background-color:#f88501 !important;}
.teamshell-secondary-bc {border-color:#f88501 !important;}
.teamshell-secondary-blc {border-left-color:#f88501 !important;}

.teamjamp-primary-fg {color:#ff5353 !important;}
.teamjamp-primary-bg {background-color:#ff5353 !important;}
.teamjamp-primary-bc {border-color:#ff5353 !important;}
.teamjamp-primary-blc {border-left-color:#ff5353 !important;}
.teamjamp-secondary-fg {color:#ffbb00 !important;}
.teamjamp-secondary-bg {background-color:#ffbb00 !important;}
.teamjamp-secondary-bc {border-color:#ffbb00 !important;}
.teamjamp-secondary-blc {border-left-color:#ffbb00 !important;}

.teamprecision-primary-fg {color:#AAAAAA !important;}
.teamprecision-primary-bg {background-color:#AAAAAA !important;}
.teamprecision-primary-bc {border-color:#AAAAAA !important;}
.teamprecision-primary-blc {border-left-color:#AAAAAA !important;}
.teamprecision-secondary-fg {color:#BBBBBB !important;}
.teamprecision-secondary-bg {background-color:#BBBBBB !important;}
.teamprecision-secondary-bc {border-color:#BBBBBB !important;}
.teamprecision-secondary-blc {border-left-color:#BBBBBB !important;}

.teamicicle-primary-fg {color:#3F51B5 !important;}
.teamicicle-primary-bg {background-color:#3F51B5 !important;}
.teamicicle-primary-bc {border-color:#3F51B5 !important;}
.teamicicle-primary-blc {border-left-color:#3F51B5 !important;}
.teamicicle-secondary-fg {color:#00BCD4 !important;}
.teamicicle-secondary-bg {background-color:#00BCD4 !important;}
.teamicicle-secondary-bc {border-color:#00BCD4 !important;}
.teamicicle-secondary-blc {border-left-color:#00BCD4 !important;}

.teamconsistency-primary-fg {color:#6b81a1 !important;}
.teamconsistency-primary-bg {background-color:#6b81a1 !important;}
.teamconsistency-primary-bc {border-color:#6b81a1 !important;}
.teamconsistency-primary-blc {border-left-color:#6b81a1 !important;}
.teamconsistency-secondary-fg {color:#c14600 !important;}
.teamconsistency-secondary-bg {background-color:#c14600 !important;}
.teamconsistency-secondary-bc {border-color:#c14600 !important;}
.teamconsistency-secondary-blc {border-left-color:#c14600 !important;}

.makerteams-primary-fg {color: #f9db00 !important;}
.makerteams-primary-bg {background-color: #f9db00 !important;}
.makerteams-primary-bc {border-color: #f9db00 !important;}
.makerteams-primary-blc {border-left-color:#f9db00 !important;}
.makerteams-secondary-fg {color:#086A9A !important;}
.makerteams-secondary-bg {background-color:#086A9A !important;}
.makerteams-secondary-bc {border-color:#086A9A !important;}
.makerteams-secondary-blc {border-left-color:#086A9A !important;}

.teampswitch-primary-fg {color:#7d7df7 !important;}
.teampswitch-primary-bg {background-color:#7d7df7 !important;}
.teampswitch-primary-bc {border-color:#7d7df7 !important;}
.teampswitch-primary-blc {border-left-color:#7d7df7 !important;}
.teampswitch-secondary-fg {color:#f57e03 !important;}
.teampswitch-secondary-bg {background-color:#f57e03 !important;}
.teampswitch-secondary-bc {border-color:#f57e03 !important;}
.teampswitch-secondary-blc {border-left-color:#f57e03 !important;}

.teampspeed-primary-fg {color:#fec22b !important;}
.teampspeed-primary-bg {background-color:#fec22b !important;}
.teampspeed-primary-bc {border-color:#fec22b !important;}
.teampspeed-primary-blc {border-left-color:#fec22b !important;}
.teampspeed-secondary-fg {color:#AAAAAA !important;}
.teampspeed-secondary-bg {background-color:#AAAAAA !important;}
.teampspeed-secondary-bc {border-color:#AAAAAA !important;}
.teampspeed-secondary-blc {border-left-color:#AAAAAA !important;}

.teamtwister-primary-fg {color:#88D8D8 !important;}
.teamtwister-primary-bg {background-color:#88D8D8 !important;}
.teamtwister-primary-bc {border-color:#88D8D8 !important;}
.teamtwister-primary-blc {border-left-color:#88D8D8 !important;}
.teamtwister-secondary-fg {color:#AAAAAA !important;}
.teamtwister-secondary-bg {background-color:#AAAAAA !important;}
.teamtwister-secondary-bc {border-color:#AAAAAA !important;}
.teamtwister-secondary-blc {border-left-color:#AAAAAA !important;}

.teamhat-primary-fg {color:#E86429 !important;}
.teamhat-primary-bg {background-color:#E86429 !important;}
.teamhat-primary-bc {border-color:#E86429 !important;}
.teamhat-primary-blc {border-left-color:#E86429 !important;}
.teamhat-secondary-fg {color:#fec22b !important;}
.teamhat-secondary-bg {background-color:#fec22b !important;}
.teamhat-secondary-bc {border-color:#fec22b !important;}
.teamhat-secondary-blc {border-left-color:#fec22b !important;}

.teamfish-primary-fg {color:#0037FF !important;}
.teamfish-primary-bg {background-color:#0037FF !important;}
.teamfish-primary-bc {border-color:#0037FF !important;}
.teamfish-primary-blc {border-left-color:#0037FF !important;}
.teamfish-secondary-fg {color:#44B033 !important;}
.teamfish-secondary-bg {background-color:#44B033 !important;}
.teamfish-secondary-bc {border-color:#44B033 !important;}
.teamfish-secondary-blc {border-left-color:#44B033 !important;}

.teampipe-primary-fg {color:#01C701 !important;}
.teampipe-primary-bg {background-color:#01C701 !important;}
.teampipe-primary-bc {border-color:#01C701 !important;}
.teampipe-primary-blc {border-left-color:#01C701 !important;}
.teampipe-secondary-fg {color:#FD027E !important;}
.teampipe-secondary-bg {background-color:#FD027E !important;}
.teampipe-secondary-bc {border-color:#FD027E !important;}
.teampipe-secondary-blc {border-left-color:#FD027E !important;}

.teamghost-primary-fg {color:#404040 !important;}
.teamghost-primary-bg {background-color:#404040 !important;}
.teamghost-primary-bc {border-color:#404040 !important;}
.teamghost-primary-blc {border-left-color:#404040 !important;}
.teamghost-secondary-fg {color:#f90606 !important;}
.teamghost-secondary-bg {background-color:#f90606 !important;}
.teamghost-secondary-bc {border-color:#f90606 !important;}
.teamghost-secondary-blc {border-left-color:#f90606 !important;}

.teamboomboom-primary-fg {color:#FF911D !important;}
.teamboomboom-primary-bg {background-color:#FF911D !important;}
.teamboomboom-primary-bc {border-color:#FF911D !important;}
.teamboomboom-primary-blc {border-left-color:#FF911D !important;}
.teamboomboom-secondary-fg {color:#FFC99E !important;}
.teamboomboom-secondary-bg {background-color:#FFC99E !important;}
.teamboomboom-secondary-bc {border-color:#FFC99E !important;}
.teamboomboom-secondary-blc {border-left-color:#FFC99E !important;}

.teampowerup-primary-fg {color:#FF0000 !important;}
.teampowerup-primary-bg {background-color:#FF0000 !important;}
.teampowerup-primary-bc {border-color:#FF0000 !important;}
.teampowerup-primary-blc {border-left-color:#FF0000 !important;}
.teampowerup-secondary-fg {color:#00FF00 !important;}
.teampowerup-secondary-bg {background-color:#00FF00 !important;}
.teampowerup-secondary-bc {border-color:#00FF00 !important;}
.teampowerup-secondary-blc {border-left-color:#00FF00 !important;}

.teamnocloudabuse-primary-fg {color:#186CB4 !important;}
.teamnocloudabuse-primary-bg {background-color:#186CB4 !important;}
.teamnocloudabuse-primary-bc {border-color:#186CB4 !important;}
.teamnocloudabuse-primary-blc {border-left-color:#186CB4 !important;}
.teamnocloudabuse-secondary-fg {color:#88D8D8 !important;}
.teamnocloudabuse-secondary-bg {background-color:#88D8D8 !important;}
.teamnocloudabuse-secondary-bc {border-color:#88D8D8 !important;}
.teamnocloudabuse-secondary-blc {border-left-color:#88D8D8 !important;}

.curatedtrolls-primary-fg {color:#E09010 !important;}
.curatedtrolls-primary-bg {background-color:#E09010 !important;}
.curatedtrolls-primary-bc {border-color:#E09010 !important;}
.curatedtrolls-primary-blc {border-left-color:#E09010 !important;}
.curatedtrolls-secondary-fg {color:#00B050 !important;}
.curatedtrolls-secondary-bg {background-color:#00B050 !important;}
.curatedtrolls-secondary-bc {border-color:#00B050 !important;}
.curatedtrolls-secondary-blc {border-left-color:#00B050 !important;}

.teambomb-primary-fg {color:#111111 !important;}
.teambomb-primary-bg {background-color:#111111 !important;}
.teambomb-primary-bc {border-color:#111111 !important;}
.teambomb-primary-blc {border-left-color:#111111 !important;}
.teambomb-secondary-fg {color:lightgray !important;}
.teambomb-secondary-bg {background-color:lightgray !important;}
.teambomb-secondary-bc {border-color:lightgray !important;}
.teambomb-secondary-blc {border-left-color:lightgray !important;}

.teamlemmysballs-primary-fg {color:#E49330 !important;}
.teamlemmysballs-primary-bg {background-color:#E49330 !important;}
.teamlemmysballs-primary-bc {border-color:#E49330 !important;}
.teamlemmysballs-primary-blc {border-left-color:#E49330 !important;}
.teamlemmysballs-secondary-fg {color:#CBD115 !important;}
.teamlemmysballs-secondary-bg {background-color:#CBD115 !important;}
.teamlemmysballs-secondary-bc {border-color:#CBD115 !important;}
.teamlemmysballs-secondary-blc {border-left-color:#CBD115 !important;}

.teamfrostysquad-primary-fg {color:#012E34 !important;}
.teamfrostysquad-primary-bg {background-color:#012E34 !important;}
.teamfrostysquad-primary-bc {border-color:#012E34 !important;}
.teamfrostysquad-primary-blc {border-left-color:#012E34 !important;}
.teamfrostysquad-secondary-fg {color:#36A998 !important;}
.teamfrostysquad-secondary-bg {background-color:#36A998 !important;}
.teamfrostysquad-secondary-bc {border-color:#36A998 !important;}
.teamfrostysquad-secondary-blc {border-left-color:#36A998 !important;}

.teambattle-primary-fg {color:#D26C00 !important;}
.teambattle-primary-bg {background-color:#D26C00 !important;}
.teambattle-primary-bc {border-color:#D26C00 !important;}
.teambattle-primary-blc {border-left-color:#D26C00 !important;}
.teambattle-secondary-fg {color:#45B3EE !important;}
.teambattle-secondary-bg {background-color:#45B3EE !important;}
.teambattle-secondary-bc {border-color:#45B3EE !important;}
.teambattle-secondary-blc {border-left-color:#45B3EE !important;}

.teamspeedrun-primary-fg {color:orange !important;}
.teamspeedrun-primary-bg {background-color:orange !important;}
.teamspeedrun-primary-bc {border-color:orange !important;}
.teamspeedrun-primary-blc {border-left-color:orange !important;}
.teamspeedrun-secondary-fg {color:black !important;}
.teamspeedrun-secondary-bg {background-color:black !important;}
.teamspeedrun-secondary-bc {border-color:black !important;}
.teamspeedrun-secondary-blc {border-left-color:black !important;}

.teamego-primary-fg {color:#0070C0 !important;}
.teamego-primary-bg {background-color:#0070C0 !important;}
.teamego-primary-bc {border-color:#0070C0 !important;}
.teamego-primary-blc {border-left-color:#0070C0 !important;}
.teamego-secondary-fg {color:#C00000 !important;}
.teamego-secondary-bg {background-color:#C00000 !important;}
.teamego-secondary-bc {border-color:#C00000 !important;}
.teamego-secondary-blc {border-left-color:#C00000 !important;}

.teamflight-primary-fg {color:#FF314A !important;}
.teamflight-primary-bg {background-color:#FF314A !important;}
.teamflight-primary-bc {border-color:#FF314A !important;}
.teamflight-primary-blc {border-left-color:#FF314A !important;}
.teamflight-secondary-fg {color:#CCCCCC !important;}
.teamflight-secondary-bg {background-color:#CCCCCC !important;}
.teamflight-secondary-bc {border-color:#CCCCCC !important;}
.teamflight-secondary-blc {border-left-color:#CCCCCC !important;}

.logo-shadow { text-shadow: 2px 2px #888888;}

/* Dark Mode */
html.dark body {
    background:#121212;
    color:#FFF;
}
html.dark .table {
    color:#FEFEFE;
}

html.dark .text-muted {
    color: #aaa !important
}

/* Dark Tables */
html.dark table.dataTable.stripe tbody tr.odd,
html.dark table.dataTable.display tbody tr.odd {
    background-color: #222;
}
html.dark table.dataTable tbody tr {
    background-color: #111;
}

html.dark table.dataTable tbody tr {
    background-color: #111;
}

html.dark table.dataTable.stripe.hover tbody tr.odd:hover,
html.dark table.dataTable.display.hover tbody tr.odd:hover {
    background-color: #444;
}

html.dark table.dataTable.hover tbody tr:hover {
    background-color: #fff4;
}

table.dataTable.row-border tbody td {
    border-color: #444;
}

html.dark .dataTables_wrapper .dataTables_length,
html.dark .dataTables_wrapper .dataTables_filter,
html.dark .dataTables_wrapper .dataTables_info,
html.dark .dataTables_wrapper .dataTables_processing,
html.dark .dataTables_wrapper .dataTables_paginate {
    color: #fff;
}

/* Dark Input boxes */
html.dark .form-control {
    background-color: #666;
    color: #fff;
    border-color: #888;
}
html.dark .form-control::placeholder {
    color: #aaa;
}

/* Dark Dropdown menus */
html.dark .dropdown-menu {
    background-color: #888;
    color: #fff
}
html.dark .dropdown-item {
    color: #fff;
}
html.dark .dropdown-item:focus, html.dark .dropdown-item:hover {
    background-color: #aaa;
    color: #fff;
}
html.dark select option {
    background-color: #888;
    color: #fff;
}

.form-check {
    padding-bottom: 5px;
}

h1 {
    margin-bottom: 0;
}

ul#nav {
    padding: 0;
    margin: 0 0 5px;
}

ul#nav li {
    font-family: 'Bangers', 'sans-serif';
    display: inline-block;
    font-size: 24px;
    margin: 0 15px 0 0;
}

ul#nav a {
    font-weight: normal;
}

ul#nav li a.router-link-active {
    text-decoration: underline;
    font-weight: normal;
}

ul#nav li a.router-link-active:hover {
    color: #007bff;
    font-weight: normal;
}

.container {
    max-width: 1440px;
}

.medals {
    display:inline-block;
    margin-left:-10px;
}
.medals:first-of-type {
    margin-left:10px;
}

.level-medals {
    display:inline-block;
    margin-left:-10px;
}
.level-medals:first-of-type {
    margin-left:0px;
}
.level-medals:last-of-type {
    margin-right:5px;
}

.medal {
width: 20px;
height: 20px;
display: inline-block;
padding-top: 4px;
margin-left: -12px;
}
.medal:first-of-type {
margin-left: 0;
}
.coin {
border-radius: 50%;
width: 20px;
height: 20px;
position: relative;
margin: 0px auto 0 auto;
box-shadow: 0px 0px 2px 0px #989898;

}
.coin:after {
content: '';
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
width: 12px;
height: 12px;
border-radius: inherit;
}
.coin-gold {
border: 1px solid #e0a818;
background: #F0CD73;
}
.coin-gold:after {
box-shadow: 0 0 0 3px #eabb42;
}
.coin-silver {
border: 1px solid #8fa2ac;
background: #dde3e6;
}
.coin-silver:after {
box-shadow: 0 0 0 3px #b6c2c9;
}
.coin-bronze {
border: 1px solid #9c5805;
background: #df7e08;
}
.coin-bronze:after {
box-shadow: 0 0 0 3px #bd6b06;
}
.coin-iron {
border: 1px solid #6c6c6c;
background: #9b9b9b;
}
.coin-iron:after {
box-shadow: 0 0 0 3px #838383;
}
.coin-shell {
border: 1px solid #01806e;
background: #01a09e;
}
.coin-shell:after {
box-shadow: 0 0 0 3px #21c0ae;
}

.comp-winners {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:10px;
}

.dark .comp-winners {
    padding: 10px;
    background-color: #2f2f2f;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:10px;
}

.comp-winners i {
    color: #F0CD73;
    font-size:80px;
    top: calc(50% - 40px);
    position:relative;
}

.comp-winners img {
    height: 80px;
    width: 80px;
    top: calc(50% - 40px);
    position:relative;
}

.comp-winners h4 {
    text-align:center;
}

.comp-winners h6 {
    font-size: 12px;
}

.loader-img {
    width: 120px;
    height: 120px;
    position:fixed;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    z-index: 600;
    opacity: 0.8;
}

.loader-bg {
    height:100%;
    width:100%;
    position:fixed;
    background-color: rgba(255,255,255, 0.6);
    z-index: 500;
}

.dashboard {
    margin-bottom: 20px;
}

.dashboard td {font-size:1.2em;padding:0.5em;}

.level-detail-played-table {
    margin-top:10px;
}

.level-detail-title,
.maker-detail-title {
    margin-top:0.5em;
}

.header-row {
    border-radius: 5px;
    border-bottom: 1px solid lightgrey;
    margin-bottom:10px;
    overflow:hidden;
}

.header-row-makerteams {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 10px 10px 0px 0px;
    border-top-width: 0px;
    border-bottom-width:0px;
    margin-bottom: 0px;
}

.nav-row-makerteams {
    background-color: white;
    border: 1px solid lightgrey;
    border-radius: 0px 0px 10px 10px;
    border-top-width: 0px;
    margin-bottom: 10px;
}

.header-row h1 {
    font-size:84pt;
}
.header-row .buzzyS {
    width:72px;
}

.header-logo-div {
    width: 720px;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
}

.header-logo-div-sub {
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
}

.header-comp-div {
    width: 720px;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}

.fa-inactive {
    opacity:0.15;
}

.random-button {
    color: white;
    margin-right: 10px;
}

.diff-range-container {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.noUi-value {
    margin-top: 10px;
}

.feedback-area {
    margin-top: 5px;
    width: 100%;
}

.text-bold {
    font-weight:bold;
}

.teamjamp-logo {
    border-radius: 20px;
    margin-right:10px;
}

.teampipe-logo {
    border-radius: 20px;
    margin-right:10px;
}

.teampowerup-logo {
    border-radius: 20px;
    margin-right:10px;
}

.howto-header {
    margin-left: auto;
    margin-right: auto;
}

.howto-text-container {
    font-size: 1.3vw;
    top:5vw;
    padding-left:1.5vw;
    padding-right:1.5vw;
    position:absolute;
    text-align:center
}
@media screen and (min-width: 1440px) {
    .howto-text-container {
        font-size: 18.7px;
        top:72px;
        padding-left:21px;
        padding-right:21px;
    }
}

.howto-text-container h4 {
    font-size: 1.7vw;
}
@media screen and (min-width: 1440px) {
    .howto-text-container h4 {
        font-size: 24.5px;
    }
}

.howto-text-container p {
    margin-bottom: 1.38vw;
}
@media screen and (min-width: 1440px) {
    .howto-text-container p {
        margin-bottom:20px;
    }
}

.howto-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}
@media screen and (min-width: 1440px) {
    .howto-icon {
        font-size:72px;
    }
}

.howto-footer {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    padding-left:20px;
    padding-right:20px;
}

.howto-circle {
    position:relative;
    left:25%;
    width:50%;
    border-radius:50%;
    background-color:#EDE4E4;
    transform: translate(0%, -50%);
}

.howto-step {
    width:17%;
    position:absolute;
    top:4.8vw;
    height:36vw;
    border-radius:1.3vw;
    color:black;
}
@media screen and (min-width: 1440px) {
    .howto-step {
        height:520px;
        top:70px;
    }
}

.howto-step-1 {
    left:10%;
}
.howto-step-2 {
    left:31%;
}
.howto-step-3 {
    left:52%;
}
.howto-step-4 {
    left:73%;
}

.howto-content {
    width:100%;
    height:42vw;
    position:relative
}
@media screen and (min-width: 1440px) {
    .howto-content {
        height:600px;
    }
}

.howto-header {
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}


.dark .howto-bg-element {
    background: linear-gradient(90deg, #121212 2%, #EDE4E4 5%, #EDE4E4 95%, #121212 98%);
}
.howto-bg-element {
    width:100%;
    height:20.8vw;
    position:absolute;
    top:10.4vw;
    background: linear-gradient(90deg, #FFFFFF 2%, #121212 5%, #121212 95%, #FFFFFF 98%);
}
@media screen and (min-width: 1440px) {
    .howto-bg-element {
        top:150px;
        height:300px;
    }
}

.card-img-team-logo {
    width: 100px;
    height:100px;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
}

.card-img-rounded-logo {
    border-radius:20px;
}

.team-card {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
    height: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px #5A5A5A;
    border-width: 3px;
}

.team-card-small {
    font-size:14px;
    box-shadow: 3px 3px #8A8A8A;
}

.team-card-nav-button {
    position: absolute;
    bottom: 20px;
    transform: translate(-50%);
    height:60px;
    display: inline-flex;
    align-items: center;
}

.mt-back-link {
    color: rgb(173, 181, 189);
    margin-right:10px;
    vertical-align: middle;
    font-size:60px;
}

.dark .dg-main-content {
    background: #1F1F1F;
    border: 1px solid grey;
}

.dg-main-content {
    width:95% !important;
}

.race-dialog .dg-main-content {
    max-width: 700px;
    max-height: calc(90%);
    overflow: auto;
    transform: translate(-50%,-50%);
    top: 50%;
    position: absolute;
    left: 50%;
    margin:0px 0px;
}

.race-dialog .dg-content-cont--floating {
    height: 100%;
    width: 100%;
}

.makerteams-footer {
    border-top: 2px solid #b8a100;
    border-radius: 10px 10px 0px 0px;
    padding:5px;
    width:100vw;
    position:fixed;
    bottom:0px;
    left:0px;
    color:white;
    text-shadow: 2px 2px #1f1f1f;
}

.makerteams-footer h4 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    width:100%;
    font-size: 20px;
    text-align:center;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 3px solid #eee;
    border-left-width: 6px;
    border-radius: 10px;
    display:flex;
    flex-wrap: wrap;
    width:100%;
}

.bs-callout-title {
    border-radius: 4px 10px 0px 0px;
    border-bottom-width: 0px;
    padding:0px;
    background-color: white;
}

.dark .bs-callout-title {
    background-color: #212121;
}

.bs-callout-title-box {
    border-radius: 10px;
    border-bottom: 3px solid #eee;
    width:100%;
    padding: 16px;
    padding-left: 24px;
}

.bs-callout-content {
    border-radius: 0px 0px 10px 4px;
    border-top-width: 0px;
    background-color: white;
}

.bs-callout-maker-teams {
    border-left-color: #086A9A;
    margin:0px;
}

.bs-callout-mini-teams {
    border-left-color: #f9db00;
    margin:0px;
}

.bs-callout-race {
    margin:0px;
    position:relative;
    overflow:hidden;
}

.bs-callout-title h2,
.bs-callout-title h3,
.bs-callout-title h4,
.bs-callout-title h5,
.bs-callout-title h6 {
    margin:0px;
}

.feature-box {
    font-size:1.25rem;
}

.makerteams-body-bg {
    background:#f5f5f5;
}

.makerteams-nav li a {
    font-size: 28px;
}

.bot-command-list,
.bot-command-list li {
    width:100%;
}

.bot-command-list p {
    padding-left:20px;
    margin-bottom:0px;
}

.bot-command-text {
    font-weight:bold;
}

.bot-command-important {
    border-left-color: orangered;
    border-left-width: 5px;
    padding-left:16px;
}

.competition-info {
    border-bottom: 1px solid lightgrey;
    border-radius: 10px;
    border-top: 1px solid lightgrey;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.maker-avatar {
    width:64px;
    border-radius:32px;
    margin-right:6px;
}

.race-title {
    float:left;
}
.race-date {
    float:right;
}
.race-type {
    clear:both;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.race-button {
    float:right;
    width: 50px;
    height: 50px;
    padding: 8px 12px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    color:white;
    margin-left:10px;
}
.new-race-button {
    float:right;
    width: 50px;
    height: 50px;
    padding: 8px 12px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    color:white;
    margin-left:10px;
}

.like-finish-button {
    position:relative;
}

.race-time-remaining {
    float:left;
}
.race-entrant-rank {
    width: 50px;
    display: inline-block;
    font-size: 40px;
    line-height: 64px;
    vertical-aligN: middle;
}

.race-ribbon {
    margin: 0;
    color:white;
    position: absolute;
    bottom:25px;
    right:-50px;
    transform: rotate(-45deg);
    transform-origin: middle;
    text-align: center;
    width:200px;
    height: 50px;
    line-height:50px;
    vertical-align:middle;
}

.date-picker-form-control {
    background-color:#fff !important;
}

.dark .date-picker-form-control {
    background-color:#666 !important;

}

.race-dialog .dg-main-content {
    max-width:700px;
}

.race-dialog-diff-range-container {
    padding: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.race-dialog .dg-content-cont--floating {
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.race-dialog .dg-footer {
    height: 60px;
}

.new-race-dialog-button {
    float:right;
    width: 50px;
    height: 50px;
    padding: 8px 12px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
    color:white;
    margin-left:10px;
}

.race-dialog .dg-title {
    font-size:30px;
}

.race-chosen-level {
    font-weight:bold;
}

.race-title-small {
    font-size:24px;
}

/*
    Responsive Stuff
*/
.diff-text-mobile {
    display:none;
}

@media only screen and (max-width: 600px) {
    .dataTables_wrapper {
        font-size: 12px;
    }

    .login-ul {
        float:left !important;
    }

    .header-row h1 {
        font-size:14vw;
    }

    .header-row .buzzyS {
        width: 54px;
    }

    .header-comp-div {
        width:100%;
    }

    .comp-winners img {
        height: 40px;
        width: 40px;
        top: calc(50% - 20px);
        position: relative;
    }

    .comp-winners h4 {
        font-size: 0.75rem;
    }

    .comp-winners h5 {
        font-size: 0.62rem;
    }

    .medal {
        width: 10px;
        height: 10px;
        padding-top: 1px;
    }

    .coin {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        box-shadow: 0px 0px 1px 0px #989898;
    }

    .coin:after {
        width: 6px;
        height: 6px;
    }

    .comp-winners .medal {
        margin-right:5px !important;
        padding-top:1px !important;
    }

    .header-flex-container {
        width:100%;
    }

    .nav-row {
        font-size: 14px !important;
    }

    .level-code-div {
        max-width: 20px;
    }


    table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child {
        padding-left: 10px;
    }

    .diff-text-default {
        display:none;
    }

    .diff-text-mobile {
        display:inline !important;
    }

    .clear-vid-link {
        margin-left: 2px;
    }

    .medals {
        margin-left:-5px;
    }
    .medals:first-of-type {
        margin-left:5px;
    }

    .level-medals {
        margin-left:-5px;
    }
    .level-medals:last-of-type {
        margin-right:2.5px;
    }
}