
.banger,th,h1,h2,h3,h4 {font-family: 'Bangers', sans-serif;}
/* tr td:nth-child(3), maybe use classes next time */
th {font-size: 12pt}
h1 {font-size:64pt;}
table {width:100%;}
img {width: 36px}
#logo {position: relative;right:0px;background: #FFF}
.copy,.copyLike {cursor:pointer;-webkit-transition: color 0.5s; /* Safari prior 6.1 */
    transition: color 0.5s;}
#refresh {cursor: pointer;}

.teamshell-primary-fg {color:#01a09e;}
.teamshell-primary-bg {background-color:#01a09e;}
.teamshell-secondary-fg {color:#f88501;}
.teamshell-secondary-bg {background-color:#f88501;}

.teamjamp-primary-fg {color:#ff5353;}
.teamjamp-primary-bg {background-color:#ff5353;}
.teamjamp-secondary-fg {color:#ffbb00;}
.teamjamp-secondary-bg {background-color:#ffbb00;}

/*.makerteams-primary-fg {color: #fd7e14;}
.makerteams-primary-bg {background-color: #fd7e14;}
.makerteams-secondary-fg {color:#007bff;}
.makerteams-secondary-bg {background-color:#007bff;}*/

.makerteams-primary-fg {color: #f9db00;}
.makerteams-primary-bg {background-color: #f9db00;}
.makerteams-secondary-fg {color:#086A9A;}
.makerteams-secondary-bg {background-color:#086A9A;}

/*.makerteams-primary-fg {color: #dc3545;}
.makerteams-primary-bg {background-color: #dc3545;}
.makerteams-secondary-fg {color:#007bff;}
.makerteams-secondary-bg {background-color:#007bff;}*/

.logo-shadow { text-shadow: 2px 2px #888888;}

/* Dark Mode */
html.dark body {
    background:#121212;
    color:#FFF;
}

html.dark body .dg-content {
    color:#212529;
}


html.dark .text-muted {
    color: #aaa !important
}

/* Dark Tables */
html.dark table.dataTable.stripe tbody tr.odd,
html.dark table.dataTable.display tbody tr.odd {
    background-color: #222;
}
html.dark table.dataTable tbody tr {
    background-color: #111;
}

html.dark table.dataTable tbody tr {
    background-color: #111;
}

html.dark table.dataTable.stripe.hover tbody tr.odd:hover,
html.dark table.dataTable.display.hover tbody tr.odd:hover {
    background-color: #444;
}

html.dark table.dataTable.hover tbody tr:hover {
    background-color: #fff4;
}

table.dataTable.row-border tbody td {
    border-color: #444;
}

html.dark .dataTables_wrapper .dataTables_length,
html.dark .dataTables_wrapper .dataTables_filter,
html.dark .dataTables_wrapper .dataTables_info,
html.dark .dataTables_wrapper .dataTables_processing,
html.dark .dataTables_wrapper .dataTables_paginate {
    color: #fff;
}

/* Dark Input boxes */
html.dark .form-control {
    background-color: #666;
    color: #fff;
    border-color: #888;
}
html.dark .form-control::placeholder {
    color: #aaa;
}

/* Dark Dropdown menus */
html.dark .dropdown-menu {
    background-color: #888;
    color: #fff
}
html.dark .dropdown-item {
    color: #fff;
}
html.dark .dropdown-item:focus, html.dark .dropdown-item:hover {
    background-color: #aaa;
    color: #fff;
}
html.dark select option {
    background-color: #888;
    color: #fff;
}

.form-check {
    padding-bottom: 5px;
}

h1 {
    margin-bottom: 0;
}

ul#nav {
    padding: 0;
    margin: 0 0 5px;
}

ul#nav li {
    font-family: 'Bangers', 'sans-serif';
    display: inline-block;
    font-size: 24px;
    margin: 0 15px 0 0;
}

ul#nav a {
    font-weight: normal;
}

ul#nav li a.router-link-exact-active {
    text-decoration: underline;
    font-weight: normal;
}

ul#nav li a.router-link-exact-active:hover {
    color: #007bff;
    font-weight: normal;
}

.container {
    max-width: 1440px;
}

.medals {
display:inline-block;
margin-left:-10px;
}
.medals:first-of-type {
margin-left:10px;
}

.medal {
width: 20px;
height: 20px;
display: inline-block;
padding-top: 4px;
margin-left: -12px;
}
.medal:first-of-type {
margin-left: 0;
}
.coin {
border-radius: 50%;
width: 20px;
height: 20px;
position: relative;
margin: 0px auto 0 auto;
box-shadow: 0px 0px 2px 0px #989898;

}
.coin:after {
content: '';
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
width: 12px;
height: 12px;
border-radius: inherit;
}
.coin-gold {
border: 1px solid #e0a818;
background: #F0CD73;
}
.coin-gold:after {
box-shadow: 0 0 0 3px #eabb42;
}
.coin-silver {
border: 1px solid #8fa2ac;
background: #dde3e6;
}
.coin-silver:after {
box-shadow: 0 0 0 3px #b6c2c9;
}
.coin-bronze {
border: 1px solid #9c5805;
background: #df7e08;
}
.coin-bronze:after {
box-shadow: 0 0 0 3px #bd6b06;
}
.coin-iron {
border: 1px solid #6c6c6c;
background: #9b9b9b;
}
.coin-iron:after {
box-shadow: 0 0 0 3px #838383;
}
.coin-shell {
border: 1px solid #01806e;
background: #01a09e;
}
.coin-shell:after {
box-shadow: 0 0 0 3px #21c0ae;
}

.comp-winners {
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:10px;
}

.dark .comp-winners {
    padding: 10px;
    background-color: #2f2f2f;
    border-radius: 20px;
    margin-top:10px;
    margin-bottom:10px;
}

.comp-winners i {
    color: #F0CD73;
    font-size:80px;
    top: calc(50% - 40px);
    position:relative;
}

.comp-winners img {
    height: 80px;
    width: 80px;
    top: calc(50% - 40px);
    position:relative;
}

.comp-winners h4 {
    text-align:center;
}

.comp-winners h6 {
    font-size: 12px;
}

.loader-img {
    width: 120px;
    height: 120px;
    position:fixed;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    z-index: 600;
    opacity: 0.8;
}

.loader-bg {
    height:100%;
    width:100%;
    position:fixed;
    background-color: rgba(255,255,255, 0.6);
    z-index: 500;
}

.dashboard {
    margin-bottom: 20px;
}

.dashboard td {font-size:1.2em;padding:0.5em;}

.level-detail-played-table {
    margin-top:10px;
}

.level-detail-title,
.maker-detail-title {
    margin-top:0.5em;
}

.header-row {
    border-radius: 5px;
    border-bottom: 1px solid lightgrey;
    margin-bottom:10px;
    overflow:hidden;
}

.header-row h1 {
    font-size:84pt;
}
.header-row .buzzyS {
    width:72px;
}

.header-logo-div {
    width: 720px;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
}

.header-logo-div-sub {
    width:100%;
    padding-left: 15px;
    padding-right: 15px;
}

.header-comp-div {
    width: 720px;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
}

.fa-inactive {
    opacity:0.15;
}

.random-button {
    background-color: #01a09e;
    color: white;
    margin-right: 10px;
}

.diff-range-container {
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.noUi-value {
    margin-top: 10px;
}

.feedback-area {
    margin-top: 5px;
    width: 100%;
}

.text-bold {
    font-weight:bold;
}

.teamjamp-logo {
    border-radius: 20px;
    margin-right:10px;
}

.howto-header {
    margin-left: auto;
    margin-right: auto;
}

.howto-text-container {
    font-size: 1.3vw;
    top:5vw;
    padding-left:1.5vw;
    padding-right:1.5vw;
    position:absolute;
    text-align:center
}
@media screen and (min-width: 1440px) {
    .howto-text-container {
        font-size: 18.7px;
        top:72px;
        padding-left:21px;
        padding-right:21px;
    }
}

.howto-text-container h4 {
    font-size: 1.7vw;
}
@media screen and (min-width: 1440px) {
    .howto-text-container h4 {
        font-size: 24.5px;
    }
}

.howto-text-container p {
    margin-bottom: 1.38vw;
}
@media screen and (min-width: 1440px) {
    .howto-text-container p {
        margin-bottom:20px;
    }
}

.howto-icon {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 5vw;
}
@media screen and (min-width: 1440px) {
    .howto-icon {
        font-size:72px;
    }
}

.howto-footer {
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
    padding-left:20px;
    padding-right:20px;
}

.howto-circle {
    position:relative;
    left:25%;
    width:50%;
    border-radius:50%;
    background-color:#EDE4E4;
    transform: translate(0%, -50%);
}

.howto-step {
    width:17%;
    position:absolute;
    top:4.8vw;
    height:36vw;
    border-radius:1.3vw;
    color:black;
}
@media screen and (min-width: 1440px) {
    .howto-step {
        height:520px;
        top:70px;
    }
}

.howto-step-1 {
    left:10%;
}
.howto-step-2 {
    left:31%;
}
.howto-step-3 {
    left:52%;
}
.howto-step-4 {
    left:73%;
}

.howto-content {
    width:100%;
    height:42vw;
    position:relative
}
@media screen and (min-width: 1440px) {
    .howto-content {
        height:600px;
    }
}

.howto-header {
    padding-left:10px;
    padding-right:10px;
    text-align:center;
}


.dark .howto-bg-element {
    background: linear-gradient(90deg, #121212 2%, #EDE4E4 5%, #EDE4E4 95%, #121212 98%);
}
.howto-bg-element {
    width:100%;
    height:20.8vw;
    position:absolute;
    top:10.4vw;
    background: linear-gradient(90deg, #FFFFFF 2%, #121212 5%, #121212 95%, #FFFFFF 98%);
}
@media screen and (min-width: 1440px) {
    .howto-bg-element {
        top:150px;
        height:300px;
    }
}

.card-img-team-logo {
    width: 50%;
    margin: auto;
    max-width: 100px;
}

.card-img-team-jamp-logo {
    border-radius:20px;
}

.team-card {
    text-align:center;
    padding-top:10px;
    padding-bottom:60px;
    height:100%;
}

.team-card-nav-button {
    position: absolute;
    bottom: 20px;
    transform: translate(-50%);
    height:60px;
    display: inline-flex;
    align-items: center;
}

.mt-back-link {
    color: rgb(173, 181, 189);
    margin-right:10px;
    vertical-align: middle;
    font-size:60px;
}

.dark .dg-main-content {
    background: #1F1F1F;
    border: 1px solid grey;
}

/*
    Responsive Stuff
*/
.diff-text-mobile {
    display:none;
}

@media only screen and (max-width: 600px) {
    .dataTables_wrapper {
        font-size: 12px;
    }

    .login-ul {
        float:left !important;
    }

    .header-row h1 {
        font-size:18vw;
    }

    .header-row .buzzyS {
        width: 54px;
    }

    .header-comp-div {
        width:100%;
    }

    .comp-winners img {
        height: 40px;
        width: 40px;
        top: calc(50% - 20px);
        position: relative;
    }

    .comp-winners h4 {
        font-size: 0.75rem;
    }

    .comp-winners h5 {
        font-size: 0.62rem;
    }

    .medal {
        width: 10px;
        height: 10px;
        padding-top: 1px;
    }

    .coin {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        box-shadow: 0px 0px 1px 0px #989898;
    }

    .coin:after {
        width: 6px;
        height: 6px;
    }

    .comp-winners .medal {
        margin-right:5px !important;
        padding-top:1px !important;
    }

    .header-flex-container {
        width:100%;
    }

    .nav-row {
        font-size: 14px !important;
    }

    .level-code-div {
        max-width: 20px;
    }

    .level-name-div {
    }

    table.dataTable.dtr-inline.collapsed.compact>tbody>tr>td:first-child, table.dataTable.dtr-inline.collapsed.compact>tbody>tr>th:first-child {
        padding-left: 10px;
    }

    .diff-text-default {
        display:none;
    }

    .diff-text-mobile {
        display:inline !important;
    }

    .clear-vid-link {
        margin-left: 2px;
    }

    .medals {
        margin-left:-5px;
    }
    .medals:first-of-type {
        margin-left:5px;
    }
}